{% extends 'base.html.twig' %}

{% block title %}Liste des posts!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Liste des articles postés sur le blog :</h1>

    {%  for post in posts %}

        <div class="article" >

            <h3>{{ post.title }}</h3>
            <textarea width="300" height="200" contenteditable="false">{{ post.content }}</textarea>
            <p>{{ post.author }} - {{ post.createdAt }}</p>

        </div>


    {% endfor %}
</div>
{% endblock %}
